<h1 align="center">
  <span class="top-name">Netclicks Movies</span>
</h1>

<div class="return-link">
  <a [routerLink]="['/movies']">
    <span class="btn btn-dark">Back</span>
  </a>
</div>

<hr/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark text-white">
        <img class="card-img" src="{{movie.cardImages[0].url}}" alt="Card image" />
        <div class="card-img-overlay">

          <h4 class="card-title">{{movie.headline}} ({{movie.year}}), {{movie.duration/60}} min [Rated {{movie.cert}}]</h4>
          <h5 *ngIf="movie.genres" class="card-text">
            <span class="badge badge-info" *ngFor="let genre of movie.genres">{{genre}}</span>
          </h5>
          <h5 class="card-text">Synopsis</h5>
          <p class="card-text">{{movie.synopsis}}</p>
          <h5 *ngIf="movie.rating > 0" class="card-text">Rating: {{movie.rating}}</h5>

          <p class="card-text">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">Plot</button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Cast</button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse2">Availability</button>
          </p>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="collapse1">
                <div class="card-text">
                  {{movie.body}}
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="collapse2">
                <div class="card-text">
                  <h4>Directed By:</h4>
                  <p *ngFor="let director of movie.directors">{{director.name}}</p>
                  <h4>Actors</h4>
                  <p *ngFor="let actor of movie.cast">{{actor.name}}</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="collapse3">
                <div class="card-text">
                  <p class="card-text">From: {{movie.viewingWindow.startDate | date}}</p>
                  <p class="card-text">Until: {{movie.viewingWindow.endDate | date}}</p>
                  <p class="card-text">At: {{movie.viewingWindow.wayToWatch}}</p>
                </div>
              </div>
            </div>
          </div>

          <a *ngIf="movie.skyGoUrl" href="{{movie.skyGoUrl}}" target="_blank" class="btn btn-primary">Watch</a>

          <p *ngIf="movie.reviewAuthor" class="card-text">
            Reviewed By: {{movie.reviewAuthor}}
          </p>
          <p class="card-text">
            <small *ngIf="movie.class" class="text-muted">{{movie.class}}</small>
            <small class="text-muted">Last updated: {{movie.lastUpdated | date}}</small>
          </p>
          <h5 class="card-text">Videos</h5>
          <video *ngIf="movie.videos" width="800" height="600" controls>
            <source *ngFor="let video of movie.videos" src="{{video.url}}"> Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
