.spinner-container {
    margin: 20px;
    text-align: center;
  }
  
  .spinner {
    border: 4px solid #9BA69A;
    border-top: 4px solid #545E54;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }