<h1 align="center">
  <span class="top-name">Netclicks Movies</span>
</h1>
<hr/>
<div *asyncData="movies$; let movies = data">
  <div class="container-fluid">
    <div *ngFor="let movie of movies" class="container">
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
          <a [routerLink]="'/movies/' + movie.id" (click)="selectMovie(movie)">
            <img height="{{movie.keyArtImages[0].h}}" width="{{movie.keyArtImages[0].w}}"
              src="{{movie.keyArtImages[0].url}}" />
          </a>
        </div>
        <div class="col-sm">
          <div class="row">
            <a [routerLink]="'/movies/' + movie.id" (click)="selectMovie(movie)">{{movie.headline}}</a>
          </div>
          <div class="row">
            <h5 *ngIf="movie.genres" class="card-text">
              <span class="badge badge-info" *ngFor="let genre of movie.genres">{{genre}}</span>
            </h5>
          </div>
          <div class="row">
            <span *ngIf="movie.rating > 0">Rating: {{movie.rating}}</span>
            <span *ngIf="movie.rating <= 0">Rating: N/A</span>
          </div>
          <div class="row">
            <span *ngIf="movie.quote">Back of the box quote: "{{movie.quote}}"</span>
          </div>
          <div class="row">
            <span *ngIf="movie.skyGoUrl">Watch:
              <a href={{movie.skyGoUrl}} target="_blank">SkyGo</a>
            </span>
          </div>
          <div class="row">
            <span *ngIf="movie.cert">Certification: {{movie.cert}}</span>
          </div>
          <div class="row">
            <span *ngIf="movie.url">Review:
              <a href="{{movie.url}}" target="_blank">here</a>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>
